# Go through the Notes section in README for the database url format 
DATABASE_URL="YOUR_POSTGRES_DATABASE_URL"

# Nodemailer configuration for sending emails using Gmail SMTP server
# Use this gmail address since it has app password configured
# Source -> https://myaccount.google.com/u/1/apppasswords 
# Replace `1` with your personal email address if it doesn't lead to the source
SENDER_EMAIL_ADDRESS="YOUR_PERSONAL_GMAIL_ADDRESS_WITH_APP_PASSWORD_CONFIGURED"
APP_PASSWORD_FOR_SENDER_EMAIL="GENERATED_APP_PASSWORD_FOR_YOUR_GMAIL_ADDRESS"
SMTP_SERVER_HOST="smtp.gmail.com"

# (optional) you can use this email address to receive the confirmation emails in development environment instead of sending it to the actual attendee's email address.
# It's not configured to be used in the app (even in development environment) but you can use it to receive the confirmation emails in development environment by changing the `to` field in the `sendMail` function in `src/app/api/emails/route.ts` file.
RECIPIENT_EMAIL_ADDRESS="RECEIVING_EMAIL_ADDRESS"

# base url of the application
NEXT_PUBLIC_BASE_URL="https://evento-ten-psi.vercel.app"
