# Go through the Notes section in README for the database url format 
DATABASE_URL="YOUR_POSTGRES_DATABASE_URL"

# Nodemailer configuration for sending emails using Gmail SMTP server
# Use this gmail address since it has app password configured
# Source -> https://myaccount.google.com/u/1/apppasswords 
# Replace `1` with your personal email address if it doesn't lead to the source
SENDER_EMAIL_ADDRESS="YOUR_PERSONAL_GMAIL_ADDRESS_WITH_APP_PASSWORD_CONFIGURED"
APP_PASSWORD_FOR_SENDER_EMAIL="GENERATED_APP_PASSWORD_FOR_YOUR_GMAIL_ADDRESS"
SMTP_SERVER_HOST="smtp.gmail.com"

# (optional) you can use this email address to receive the confirmation emails in development environment instead of sending it to the actual attendee's email address.
# It's not configured to be used in the app (even in development environment) but you can use it to receive the confirmation emails in development environment by changing the `to` field in the `sendMail` function in `src/app/api/emails/route.ts` file.
RECIPIENT_EMAIL_ADDRESS="RECEIVING_EMAIL_ADDRESS"

# base url of the application
NEXT_PUBLIC_BASE_URL="https://evento-ten-psi.vercel.app"

# TL;DR -> Use only in Development environment for interactive maps
# Initially, the MapTiler account only contains the default key, which is special and can't be protected. To apply any of the protection methods, you need to create a new key following this url (https://docs.maptiler.com/guides/maps-apis/maps-platform/how-to-protect-your-map-key/). Use this key for development purposes only and in the production environment use the newly generated key after configuring its usage to only on listed websites i.e., vercel, netlify or github deployed urls
# Get your maptiler api keys from -> https://cloud.maptiler.com/account/keys/
NEXT_PUBLIC_MAPTILER_DEFAULT_API_KEY="YOUR_MAPTILER_DEFAULT_API_KEY"

# TL;DR -> Use in Production for interactive maps
# Maptiler protected key generated to configure its usage to only on listed websites i.e., vercel, netlify or github deployed urls
NEXT_PUBLIC_MAPTILER_PROTECTED_API_KEY="YOUR_MAPTILER_PROTECTED_API_KEY"

# Geoapify Maps api key for static maps image
# Roughly 999 requests per day (in free tier) -> https://www.geoapify.com/pricing/
# Get your geoapify api key from -> https://myprojects.geoapify.com/projects
NEXT_PUBLIC_GEOAPIFY_API_KEY="YOUR_GEOAPIFY_API_KEY"
