@import 'tailwindcss';

@config "../../tailwind.config.ts";

/* Sources -> 
 *
 * https://www.radix-ui.com/colors/docs/overview/usage
 * https://www.radix-ui.com/colors/docs/palette-composition/scales
 *
 */
@import '@radix-ui/colors/slate.css' layer(utilities);

/* Custom class to apply the same animation effects to several different elements */
.state-effects {
  @apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition;
}

/* Scrollbar styling */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1015;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0f1015 rgba(255, 255, 255, 0.1);
}

img {
  height: revert-layer;
}

/* Source -> https://www.radix-ui.com/primitives/docs/components/tooltip */
.tooltip-arrow {
  fill: white;
}

.tooltip-content {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  /* Source -> https://www.radix-ui.com/colors/docs/palette-composition/scales */
  color: var(--slate-12);
  background-color: white;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

/* For error messages */
.text-destructive {
  @apply text-red-500 font-semibold;
}
