name: Build and Deploy

on:
  push:
    branches:
      - main

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ACCESS_TOKEN: ${{ secrets.VERCEL_ACCESS_TOKEN }}

# Specify that if a workflow run is already in progress for the same Workflow and Git reference combination (group) then, it should be canceled when a new workflow run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.19.0'
          cache: 'npm'
      - name: Clean Install Dependencies
        run: npm ci
      - name: Install Vercel CLI Globally
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=$VERCEL_ACCESS_TOKEN
      - name: Build Project Artifacts
        run: npm run build
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
      - name: Confirm Build Output
        run: tree -a -L 3 -I 'node_modules|.git'

  deploy-app:
    needs: build-app
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4
      - name: View Repository Files Structure
        run: tree -a -L 3 -I .git
      - name: Install Vercel CLI Globally
        run: npm install --global vercel@latest
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prod --token=$VERCEL_ACCESS_TOKEN
