name: Preview Deployment

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ACCESS_TOKEN: ${{ secrets.VERCEL_ACCESS_TOKEN }}

on:
  push:
    branches-ignore:
      - main

# Specify that if a workflow run is already in progress for the same Workflow and Git reference combination (group) then, it should be canceled when a new workflow run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4
      - name: Install Vercel CLI Globally
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=$VERCEL_ACCESS_TOKEN
      - name: Build Project Artifacts
        run: vercel build --token=$VERCEL_ACCESS_TOKEN
        env:
          EVENTO_DATABASE_URL: ${{ secrets.EVENTO_DATABASE_URL }}
      - name: Confirm Build Output
        run: tree -a -L 3 -I 'node_modules|.git'
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=$VERCEL_ACCESS_TOKEN
